.price_container{
    width: 300px;
}
.price_container:hover{
    border: 2px solid lightseagreen;
    display: block;
}
.price_container .price{
    font-size: 50px;  
}

.price_container .btn{
    border-radius: 25px 0 25px 0;
    background-image: linear-gradient(90deg, rgb(155, 245, 240), rgb(7, 248, 236));
}
.price_container .btn{
    visibility: hidden;
}